<p>Input parameters below and click on the <b>Update</b> button to have commands dynamically updated.</p>

<div style="display: flex; gap: 10px; align-items: center;">
    <input type="text" id="target-ip" class="form-control" placeholder="Target IP / Domain">
    <input type="text" id="attacker-ip" class="form-control" placeholder="Attacker IP">
</div>
<div style="display: flex; gap: 10px; align-items: center;">
    <input type="text" id="username" class="form-control" placeholder="Username">
    <input type="text" id="password" class="form-control" placeholder="Password">
</div>
<div style="text-align: center;">
    <button id="update-button" style="border: 1px solid black; background-color: #d3d3d3; color: black; padding: 8px 16px; border-radius: 5px; cursor: pointer;">
        Update
    </button>
</div>


